<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>cmscs1.jc3c.cn</title>
<link href="/public/static/share/pucms.css" rel="stylesheet">
</head>
<body style="overflow-y:hidden;">
<div style="width:100%;height:100%;">
<iframe src="http://cmscs1.jc3c.cn/index.php?type=mm&vid={$url}" width="100%" scrolling="no" height="100%" align="middle" frameborder="no" hspace="0" vspace="0" marginheight="0" marginwidth="0" allowfullscreen="true" name="tv"></iframe>
</div>
</body>
</html>