<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!--start-php-->
		<!-- <handlers>
			<remove name="php_5.2" />
			<remove name="php_5.3" />
			<remove name="php_5.4" />
			<remove name="php_5.5" />
			<remove name="php_5.6" />
			<remove name="php_7.0" />
			<remove name="php_7.1" />
			<add name="php_5.5" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\BtSoft\WebSoft\php\5.5\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
			<remove name="PageHandlerFactory-ISAPI-2.0-64" />
			<remove name="PageHandlerFactory-ISAPI-2.0" />
			<remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
			<remove name="SimpleHandlerFactory-ISAPI-2.0" />
			<remove name="ASPClassic" />
		</handlers> -->
		<!--end-php-->
					
		<!--start-rewrite-->
		<rewrite>
			<rules>	
		    </rules>
		</rewrite>	
		<!--end-rewrite-->	
	</system.webServer>
</configuration>