<?php
include "appx/gx.php";
?>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/static/assets1/css/layui.css">
    <link rel="stylesheet" href="/public/static/assets1/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>总用户数</span>
                            </div>
                            <div class="total">{$ycount}</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">

                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span>今天登录人数</span>
                            <span>{$tzcount}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>付费用户</span>
                            </div>
                            <div class="total">{$fcount}</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">

                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>免费用户</span>
                            </div>
                            <div class="total">{$mcount}</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">

                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>代理数</span>
                            </div>
                            <div class="total">{$dcount}</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">

                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<div class="layui-content">
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header">项目进度</div><div class="layui-card-header">程序当前版本1.75独家修复版</div>
        <div class="layui-card-body">
      	<div class="layui-card-header"><a href="javascript:;" onClick="gengxin()" class="layui-btn" style="color: #fff">检测更新</a></div>
         
        </div>
    </div>
</div>
</div>
<script src="/public/static/assets1/layui.all.js"></script>
<script>

    var element = layui.element;
    	function gengxin(){
layui.use('layer', function(){
              var layer = layui.layer;

              layer.open({
                    type: 2,
                    title: '检查更新',
                    fix: false,
                    maxmin: true,
                    shadeClose: true,
                    shade: 0.8,
                    area: ['600px', '370px'],
                    content: 'https://shang.qq.com/wpa/qunwpa?idkey=449df9bac431dc692c44d9efe7887f458db55438382324e1a3f4076af0fe5d36',
                    end: function () {
                       location.reload();
                    }
                });
            }); 
              }
</script>
</body>
</html>