/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/ajaxloader.gif) no-repeat center center
}



/* ====================================================
 *   Header Slider dots Styling
 * ==================================================== */

.header-slider .owl-pagination {
    position: absolute;
    bottom: -45px;
    width: 100%;
}

.header-slider .owl-pagination .owl-page {
    margin: 0 2.5px;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 3px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
}

.header-slider .owl-pagination .owl-page span {
    width: 5px;
    margin: 0;
    border-radius: 100%;
    height: 5px;
    background: transparent;
    -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
}

.header-slider .owl-pagination .owl-page:hover span {
    background: rgba(0, 0, 0, .3);
}

.header-slider .owl-pagination .owl-page.active span, 
.header-slider .owl-pagination .owl-page.active:hover span {
    background: rgba(0, 0, 0, .7);
}

/* ====================================================
 *   Header Slider 'prev' and 'next' Buttons Styling
 * ==================================================== */

/*.header-slider.owl-carousel {
    display: block;
}
*/

.header-slider .owl-controls .owl-buttons {

}

.header-slider .owl-controls .owl-buttons .owl-prev, 
.header-slider .owl-controls .owl-buttons .owl-next {
    font-size: 18px;
    width: 65px;
    height: 65px;
    line-height: 61px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid transparent;
    border-radius: 9999px;
    position: absolute;
    top: 50%;
    margin: 0;
    margin-top: -40px !important;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}

.header-slider .owl-controls .owl-buttons .owl-prev {
    left: 0;
    margin-left: 50px;
}

.header-slider .owl-controls .owl-buttons .owl-next {
    right: 0;
    margin-right: 50px;
}

.header-slider .owl-controls .owl-buttons .owl-prev:hover, 
.header-slider .owl-controls .owl-buttons .owl-next:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
}

.header-slider:hover .owl-controls .owl-buttons .owl-prev, 
.header-slider:hover .owl-controls .owl-buttons .owl-next {
    opacity: 1;
    visibility: visible;
}

.header-slider:hover .owl-controls .owl-buttons .owl-prev {
    margin-left: 30px;
}

.header-slider:hover .owl-controls .owl-buttons .owl-next {
    margin-right: 30px;
}

.header-slider .owl-controls .owl-buttons .owl-prev:hover {
    margin-left: 25px;
}

.header-slider .owl-controls .owl-buttons .owl-next:hover {
    margin-right: 25px;
}



/* ====================================================
 *   Clients Carousel dots Styling
 * ==================================================== */

.clients-carousel .owl-pagination {
    position: absolute;
    bottom: -45px;
    width: 100%;
}

.clients-carousel .owl-pagination .owl-page {
    margin: 0 2.5px;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 3px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
}

.clients-carousel .owl-pagination .owl-page span {
    width: 5px;
    margin: 0;
    border-radius: 100%;
    height: 5px;
    background: transparent;
    -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
}

.clients-carousel .owl-pagination .owl-page:hover span {
    background: rgba(0, 0, 0, .3);
}

.clients-carousel .owl-pagination .owl-page.active span, 
.clients-carousel .owl-pagination .owl-page.active:hover span {
    background: rgba(0, 0, 0, .7);
}

/* ====================================================
 *   Clients Carousel 'prev' and 'next' Buttons Styling
 * ==================================================== */

/*.clients-carousel.owl-carousel {
    display: block;
}
*/
.clients-carousel .owl-controls .owl-buttons {

}

.clients-carousel .owl-controls .owl-buttons .owl-prev, 
.clients-carousel .owl-controls .owl-buttons .owl-next {
    background: rgba(0, 0, 0, 0.3);
    font-size: 23px;
    padding: 0;
    width: 45px;
    height: 45px;
    line-height: 42px;
    color: #fff;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    position: absolute;
    top: 50%;
    margin: 0;
    margin-top: -22px !important;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}

.clients-carousel .owl-controls .owl-buttons .owl-prev {
    left: 0;
    margin-left: -50px;
    border-radius: 100%;
}

.clients-carousel .owl-controls .owl-buttons .owl-next {
    right: 0;
    margin-right: -50px;
}

.clients-carousel .owl-controls .owl-buttons .owl-prev:hover, 
.clients-carousel .owl-controls .owl-buttons .owl-next:hover {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.clients-carousel:hover .owl-controls .owl-buttons .owl-prev, 
.clients-carousel:hover .owl-controls .owl-buttons .owl-next {
    opacity: 1;
    visibility: visible;
}

.clients-carousel:hover .owl-controls .owl-buttons .owl-prev {
	margin-left: -20px;
}

.clients-carousel:hover .owl-controls .owl-buttons .owl-next {
    margin-right: -20px;
}


/* ====================================================
 *   Testmonials Carousel dots Styling
 * ==================================================== */

.testmonials-carousel .owl-controls {
	position: relative;
}

.testmonials-carousel .owl-pagination {
    position: absolute;
    bottom: -35px;
    left: 113px;
    width: 100%;
    text-align: left;
}

.testmonials-carousel .owl-pagination .owl-page {
    margin: 0 2.5px;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 3px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
}

.testmonials-carousel .owl-pagination .owl-page span {
    width: 5px;
    margin: 0;
    border-radius: 100%;
    height: 5px;
    background: transparent;
    -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
}

.testmonials-carousel .owl-pagination .owl-page:hover span {
    background: rgba(255, 255, 255, .3);
}

.testmonials-carousel .owl-pagination .owl-page.active span, 
.testmonials-carousel .owl-pagination .owl-page.active:hover span {
    background: rgba(255, 255, 255, .7);
}
