/* 自定义下拉框 */
.moxlk {display:inline-block; width:120px; height:28px; position:relative;z-index:10; background:#fff;border:1px solid #e9e9e9;border-radius: 4px;color:#666666;font-size:13px;}
.unfold {border-radius: 4px 4px 0 0}
.moxlk input {position:absolute; top:0; left:0; border:0; background:#fff; width:90px; text-overflow: ellipsis;overflow: hidden;white-space:nowrap;padding-left:10px; height:28px;_height:27px; line-height:28px; _line-height:27px; margin:0; outline:0px; text-align:left;}
.moxlk .moxlist {position:absolute;left:-1px; top:28px; overflow-y:scroll;overflow-x:hidden;width:auto; max-height:12em;_height:expression((document.documentElement.clientHeight||document.body.clientHeight)>156?"156px":"");background:#fff; z-index:10; border:1px solid #e9e9e9;font-size:13px;}
.moxlist {display: none}
.unfold .moxlist {display: block}
.moxlk ul {width:auto;min-width:103px; height:100%; margin:0; padding:0; list-style:none;}
.moxlk ul li {height:30px;line-height:30px;word-break: keep-all;word-wrap: normal;padding:0 20px 0 13px;cursor:pointer;text-align:left;}
.moxlk ul li:hover,.moxlk ul li.on {background: #89b0f3;color:#fff;}
.moxlk .selArr {display:block; position:absolute; width:30px; height:28px;background: url(https://images.tiancity.com/pay2016/images/selArrDown.png) no-repeat 10px 10px;right:0;top:0;cursor:pointer;}
.unfold .selArr {background-image:url(https://images.tiancity.com/pay2016/images/selArrUp.png); }

/* 文本框样式 */
.inputTxt {height: 39px; width:120px; line-height: 39px; padding: 0 8px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px; color: #666;}
.account { width: 250px; }

/* 单选框样式 */
.mutilLine .moneyRadio { display: inline-block; *display: inline; *zoom:1; padding: 0 7px; height: 39px; line-height: 39px; border: 1px solid #ccc;border-radius: 4px; font-size: 14px; background-color: #eee; color: #666; cursor: pointer; margin-right: 8px;}
.mutilLine .moneyRadioSel { background-color: #fe791f; border-color: #fe791f; color: #fff; cursor: default; }
.qdRadio { width: 112px; height: 31px; line-height: 31px; color:#707070; border: 2px solid #fff; float: left; text-align: left; cursor: pointer; }
.qdRadio i {float:left;margin-right:10px;background: url(https://images.tiancity.com/pay2016/images/circle.jpg) no-repeat left top;width:20px;height:31px;display: block}
.qdRadioSel {border-color: #4c7cc6; cursor: default; background-position: 0 -31px;}
.qdRadioSel i {background-position: 0 -31px;}
.qd_01 {background: url(https://images.tiancity.com/pay2016/images/bank1.jpg) no-repeat right top;}
.qd_02 {background: url(https://images.tiancity.com/pay2016/images/bank2.jpg) no-repeat right top;}
.qd_03 {background: url(https://images.tiancity.com/pay2016/images/bank3.jpg) no-repeat right top;}
.qd_04 {background: url(https://images.tiancity.com/pay2016/images/bank4.jpg) no-repeat right top;}
.qd_05 {background: url(https://images.tiancity.com/pay2016/images/bank5.jpg) no-repeat right top;}
.qd_06 {background: url(https://images.tiancity.com/pay2016/images/bank6.jpg) no-repeat right top;}
.qd_07 {background: url(https://images.tiancity.com/pay2016/images/bank7.jpg) no-repeat right top;}
.qd_08 {background: url(https://images.tiancity.com/pay2016/images/bank8.jpg) no-repeat right top;}
.qd_09 {background: url(https://images.tiancity.com/pay2016/images/bank9.jpg) no-repeat right top;}
.qd_13 {background: url(https://images.tiancity.com/pay2016/images/bank13.jpg) no-repeat right top;}
.qd_CMobile {background: url(https://images.tiancity.com/pay2016/images/CMobile.jpg) no-repeat right top;}
.qd_CTelecom {background: url(https://images.tiancity.com/pay2016/images/CTelecom.jpg) no-repeat right top;}
.qd_CUnicom {background: url(https://images.tiancity.com/pay2016/images/CUnicom.jpg) no-repeat right top;width:165px;}

/* 按钮样式 */
.btn { display:block; width:117px; height:40px; background:url(https://images.tiancity.com/pay2016/images/btn_bg.jpg) no-repeat; text-align:center; line-height:40px; color:#fff; cursor:pointer; font-size:16px;}
.commonBtn {display:inline-block;_zoom:1;height:30px;line-height:30px;border-radius: 5px;padding:0 14px;color:#fff;font-size:13px;background: #4e75c0;}

/* 数据表格样式 */
.searchTable {width:100%;font-size:12px;}
.searchTable th,.searchTable td {height:34px;line-height: 34px;text-align: center}
.searchTable th {*height:36px;*line-height: 36px;background: #89b0f3;color:#fff;border:1px solid #89b0f3;*border:0 none;border-right:1px solid #efefef;font-size:14px;}
.searchTable th.noborder {border-right: none;}
.searchTable td {color:#000;border:1px solid #efefef;word-break: break-all;word-wrap: break-word;}
.searchTable td em {color:#ef4b01;}
.page { padding:30px 0; text-align: center;color:#4e75c0; }
.page a, .page span { border: 1px solid #e3e3e3; color: #4e75c0; display: inline-block; font-size: 14px; height: 22px; line-height: 22px; margin: 0 2px; padding: 0 6px; }
.page span { background: #89b0f3 none repeat scroll 0 0; border: 1px solid #e3e3e3; color: #fff; }