@font-face {
  font-family: 'ym-iconfont';
  src:  url('fonts/ym-iconfont.eot?6197gg');
  src:  url('fonts/ym-iconfont.eot?6197gg#iefix') format('embedded-opentype'),
    url('fonts/ym-iconfont.ttf?6197gg') format('truetype'),
    url('fonts/ym-iconfont.woff?6197gg') format('woff'),
    url('fonts/ym-iconfont.svg?6197gg#ym-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ym-"], [class*=" ym-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ym-iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ym-page-single-block .path5:before {
    content: "\e955";
    margin-left: -1.0625em;
    color: rgb(255, 255, 255);
}

.ym-tuig-block:before {
  content: "\e94f";
}
.ym-tuig-inline:before {
  content: "\e950";
}
.ym-page-single-block .path1:before {
  content: "\e951";
  color: rgb(96, 158, 233);
}
.ym-page-single-block .path2:before {
  content: "\e952";
  margin-left: -1.0625em;
  color: rgb(96, 158, 233);
}
.ym-page-single-block .path3:before {
  content: "\e953";
  margin-left: -1.0625em;
  color: rgb(255, 255, 255);
}
.ym-page-single-block .path4:before {
  content: "\e954";
  margin-left: -1.0625em;
  color: rgb(255, 255, 255);
}
.ym-page-single-block .path5:before {
  content: "\e955";
  margin-left: -1.0625em;
  color: rgb(255, 255, 255);
}
.ym-page-single-inline:before {
  content: "\e956";
}
.ym-iconfont-clone:before {
  content: "\e94e";
}
.ym-iconfont-paste:before {
  content: "\e94d";
}
.ym-iconfont-formedit-block:before {
  content: "\e94b";
}
.ym-iconfont-formedit:before {
  content: "\e94c";
}
.ym-iconfont-pencil:before {
  content: "\e949";
}
.ym-iconfont-right:before {
  content: "\e94a";
}
.ym-iconfont-date:before {
  content: "\e948";
}
.ym-iconfont-drag:before {
  content: "\e944";
}
.ym-iconfont-a:before {
  content: "\e900";
}
.ym-iconfont-a-block:before {
  content: "\e901";
}
.ym-iconfont-arrowleft:before {
  content: "\e931";
}
.ym-iconfont-arrowright:before {
  content: "\e940";
}
.ym-iconfont-arrowsbottom:before {
  content: "\e941";
}
.ym-iconfont-arrowtop:before {
  content: "\e942";
}
.ym-iconfont-check-right:before {
  content: "\e906";
}
.ym-iconfont-close:before {
  content: "\e943";
}
.ym-iconfont-color:before {
  content: "\e908";
}
.ym-iconfont-community:before {
  content: "\e909";
}
.ym-iconfont-copy:before {
  content: "\e90a";
}
.ym-iconfont-crown:before {
  content: "\e90c";
}
.ym-iconfont-cut:before {
  content: "\e90d";
}
.ym-iconfont-edit:before {
  content: "\e90e";
}
.ym-iconfont-filter2:before {
  content: "\e90f";
}
.ym-iconfont-flag:before {
  content: "\e910";
}
.ym-iconfont-flag-block:before {
  content: "\e911";
}
.ym-iconfont-form:before {
  content: "\e912";
}
.ym-iconfont-formset:before {
  content: "\e913";
}
.ym-iconfont-help:before {
  content: "\e914";
}
.ym-iconfont-help-block:before {
  content: "\e915";
}
.ym-iconfont-helpempty:before {
  content: "\e916";
}
.ym-iconfont-high:before {
  content: "\e917";
}
.ym-iconfont-high-block:before {
  content: "\e918";
}
.ym-iconfont-home:before {
  content: "\e919";
}
.ym-iconfont-icon-gj:before {
  content: "\e91a";
}
.ym-iconfont-info:before {
  content: "\e91b";
}
.ym-iconfont-kz:before {
  content: "\e91c";
}
.ym-iconfont-layerbottom:before {
  content: "\e91d";
}
.ym-iconfont-layerdown:before {
  content: "\e91e";
}
.ym-iconfont-layergroup:before {
  content: "\e91f";
}
.ym-iconfont-layernext:before {
  content: "\e920";
}
.ym-iconfont-layerprev:before {
  content: "\e921";
}
.ym-iconfont-layer-remove:before {
  content: "\e922";
}
.ym-iconfont-layers:before {
  content: "\e923";
}
.ym-iconfont-layertop:before {
  content: "\e924";
}
.ym-iconfont-layerup:before {
  content: "\e925";
}
.ym-iconfont-lock:before {
  content: "\e926";
}
.ym-iconfont-mobile:before {
  content: "\e927";
}
.ym-iconfont-more:before {
  content: "\e928";
}
.ym-iconfont-more-block:before {
  content: "\e929";
}
.ym-iconfont-page:before {
  content: "\e92a";
}
.ym-iconfont-pageedit:before {
  content: "\e92b";
}
.ym-iconfont-preview:before {
  content: "\e92c";
}
.ym-iconfont-publish:before {
  content: "\e92d";
}
.ym-iconfont-reback:before {
  content: "\e92e";
}
.ym-iconfont-ruler:before {
  content: "\e92f";
}
.ym-iconfont-save:before {
  content: "\e930";
}
.ym-iconfont-set:before {
  content: "\e932";
}
.ym-iconfont-shujudaoru:before {
  content: "\e933";
}
.ym-iconfont-trash:before {
  content: "\e934";
}
.ym-iconfont-unie:before {
  content: "\e935";
}
.ym-iconfont-unie-block:before {
  content: "\e936";
}
.ym-iconfont-web:before {
  content: "\e937";
}
.ym-calendar:before {
  content: "\f073";
}
.ym-caret-down:before {
  content: "\f0d7";
}
.ym-caret-up:before {
  content: "\f0d8";
}
.ym-caret-left:before {
  content: "\f0d9";
}
.ym-caret-right:before {
  content: "\f0da";
}
.ym-folder-o:before {
  content: "\f114";
}
.ym-folder-open-o:before {
  content: "\f115";
}
.ym-smile-o:before {
  content: "\f118";
}
.ym-frown-o:before {
  content: "\f119";
}
.ym-meh-o:before {
  content: "\f11a";
}
.ym-flag-o:before {
  content: "\f11d";
}
.ym-flag-checkered:before {
  content: "\f11e";
}
.ym-calendar-plus-o:before {
  content: "\f271";
}
.ym-calendar-minus-o:before {
  content: "\f272";
}
.ym-calendar-times-o:before {
  content: "\f273";
}
.ym-calendar-check-o:before {
  content: "\f274";
}
.ym-shopping-bag:before {
  content: "\f290";
}
.ym-chevron-down:before {
  content: "\e902";
}
.ym-chevron-left:before {
  content: "\e903";
}
.ym-chevron-right:before {
  content: "\e904";
}
.ym-chevron-up:before {
  content: "\e905";
}
.ym-chevron-with-circle-down:before {
  content: "\e907";
}
.ym-chevron-with-circle-left:before {
  content: "\e90b";
}
.ym-chevron-with-circle-right:before {
  content: "\e938";
}
.ym-chevron-with-circle-up:before {
  content: "\e939";
}
.ym-dots-three-horizontal:before {
  content: "\e93a";
}
.ym-emoji-happy:before {
  content: "\e93b";
}
.ym-emoji-neutral:before {
  content: "\e93c";
}
.ym-emoji-sad:before {
  content: "\e93d";
}
.ym-lifebuoy:before {
  content: "\e945";
}
.ym-warning:before {
  content: "\e93e";
}
.ym-clock2:before {
  content: "\e946";
}
.ym-switch:before {
  content: "\e947";
}
.ym-iconfont-codepen:before {
  content: "\e93f";
}
.ym-eye:before {
  content: "\e000";
}
.ym-lock:before {
  content: "\e007";
}
.ym-unlock:before {
  content: "\e008";
}
.ym-image:before {
  content: "\e010";
}
.ym-clock:before {
  content: "\e014";
}
.ym-search:before {
  content: "\e036";
}
.ym-reply:before {
  content: "\e039";
}
.ym-circle-plus:before {
  content: "\e040";
}
.ym-circle-minus:before {
  content: "\e041";
}
.ym-circle-check:before {
  content: "\e042";
}
.ym-circle-cross:before {
  content: "\e043";
}
.ym-cloud-upload:before {
  content: "\e066";
}
.ym-cloud-download:before {
  content: "\e067";
}
.ym-head:before {
  content: "\e074";
}
.ym-globe:before {
  content: "\e078";
}
.ym-flag:before {
  content: "\e108";
}
.ym-plus:before {
  content: "\e114";
}
.ym-minus:before {
  content: "\e115";
}
.ym-check:before {
  content: "\e116";
}
.ym-cross:before {
  content: "\e117";
}
.ym-inbox:before {
  content: "\e122";
}
.ym-outbox:before {
  content: "\e123";
}

