<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" data-rule="required" class="form-control form-control" name="row[uid]" type="number" value="{$row.uid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Buytime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-buytime" data-rule="required" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[buytime]" type="text" value="{$row.buytime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay" data-rule="required" class="form-control form-control" name="row[pay]" type="number" value="{$row.pay}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control form-control" name="row[status]" type="number" value="{$row.status}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Buydirection')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-buyDirection" data-rule="required" class="form-control form-control" name="row[buyDirection]" type="number" value="{$row.buyDirection}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mode" data-rule="required" class="form-control form-control" name="row[mode]" type="number" value="{$row.mode}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Unionid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-unionid" data-rule="required" class="form-control form-control" name="row[unionid]" type="text" value="{$row.unionid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Now')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-now" data-rule="required" class="form-control form-control" name="row[now]" type="text" value="{$row.now}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Result')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-result" data-rule="required" class="form-control form-control" name="row[result]" type="text" value="{$row.result}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
