*{ padding:0  ; margin:0 ;}
img{border:0;}
ul{list-style-type:none}
body{background:#fff url(bg.jpg) repeat-x ;}
body,form{margin:0;padding:0;font-size:12px;line-height:180%;}
h1{ font-size:20px; line-height:180%; font-weight:bold; color:#000000; font-family:"Î¢ÈíÑÅºÚ";}
h3{FONT-FAMILY: ËÎÌå,Tahoma,arial,Helvetica,sans-serif; FONT-SIZE: 2em}

a{text-decoration: none;}
a:link {color:#000000;text-decoration: none;}
a:visited {color:#000000;text-decoration: none;}
a:hover {color:#FF0000;text-decoration: none;}
a:active {color:#FF0000;text-decoration: none;}

#Km{
width:960px;
margin:0 auto;
}

#head{
width:960px;
height:auto;
float:left;
padding-top:40px;
}


#m1{
width:958px;
border:1px #CCCCCC solid;
margin-top:25px;
display:inline;
float:left;
background-color:#ffffff;
}




#m1_title{
width:948px;
height:27px;
background:url(bian.jpg) repeat-x;
padding-left:10px;
padding-top:6px;
float:left;
font-weight:bold;
}

#m1_main{
width:758px;
padding:15px 100px  50px  100px;
float:left;
}

#m1_main img{
vertical-align:middle;
}

#m1_main dl{ border-bottom:1px #CCCCCC dashed; line-height:320%; padding:10px 0px;}

#foot{
width:960px;
height:auto;
border-top:1px #CCCCCC solid; margin-top:15px;padding-top:10px; text-align:center; float:left;
}