<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pid" data-rule="required" class="form-control form-control" name="row[pid]" type="number" value="{$row.pid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tid" data-rule="required" class="form-control form-control" name="row[tid]" type="number" value="{$row.tid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" data-rule="required" class="form-control form-control" name="row[uid]" type="number" value="{$row.uid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Attach')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-attach" data-rule="required" class="form-control form-control" name="row[attach]" type="text" value="{$row.attach}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_type" data-rule="required" class="form-control form-control" name="row[bank_type]" type="text" value="{$row.bank_type}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Openid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-openid" data-rule="required" class="form-control form-control" name="row[openid]" type="text" value="{$row.openid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Out_trade_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-out_trade_no" data-rule="required" class="form-control form-control" name="row[out_trade_no]" type="text" value="{$row.out_trade_no}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cash_fee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cash_fee" data-rule="required" class="form-control form-control" name="row[cash_fee]" type="number" value="{$row.cash_fee}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_fee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_fee" data-rule="required" class="form-control form-control" name="row[total_fee]" type="number" value="{$row.total_fee}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cid" data-rule="required" class="form-control form-control" name="row[cid]" type="number" value="{$row.cid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Trade_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-trade_type" data-rule="required" class="form-control form-control" name="row[trade_type]" type="text" value="{$row.trade_type}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Transaction_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-transaction_id" data-rule="required" data-source="transaction/index" class="form-control selectpage form-control" name="row[transaction_id]" type="text" value="{$row.transaction_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-note" data-rule="required" class="form-control form-control" name="row[note]" type="text" value="{$row.note}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Typeid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-typeid" data-rule="required" class="form-control form-control" name="row[typeid]" type="number" value="{$row.typeid}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control form-control" name="row[status]" type="number" value="{$row.status}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
