.divider {
    height: 0.5rem;
    background-color: #f1f1f1;
}
.content{
    background: #ffffff;
}
/*项目说明*/
.instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instruction h2{
    font-size: 1rem;
    margin-top: 1rem;
}
.instruction img{
    width: 98%;
    margin: 0 auto;
}
.instruction p{
    font-size: 0.8rem;
    line-height: 1.8;
    text-indent: 1.6rem;
}

.help-list{
    width: 100%;
}
.newlist{
    display: flex;
    width: 100%;
    min-height: 3.75rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.125rem #f1f1f1 solid;
    padding: 0.5rem 0;
    color: black;
}
.news a:nth-last-of-type(1){
    border: none;
}
/* 图片 */
.new-img{
    width: 4.5rem;
    height: 2.75rem;
    margin-left: 0.5rem;
    /*border: 2px saddlebrown solid;*/
}
/* 内容 */
.cont{
    width: 11rem;
    font-size: 14px;
    line-height: 1.8;
}
/* 箭头 */
.icon{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
}

/*帮助中心*/
.help-list{
    /*touch-action: none;*/
}
.help .newlist{
    min-height: 2.5rem;
    border-bottom: 0.075rem #f1f1f1 solid;
}
/* 内容 */
.cont{
    width: 85%;
    font-size: 14px;
    margin-left: 1.5rem;
}

/* 列表内容 */
.list-content{
    /* height: 600rpx; */
    background: #f1f1f1;
    font-size: 14px;
    line-height: 2;
    padding: 1.25rem 1rem 1.25rem 1.5rem;
    color: #333;
    display: none;
}
.detail h2{
   width: 80%;
    margin: 2rem auto 0;
}

/*注册界面*/
.register h2{
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
}
.register .item-inner{
    justify-content: flex-start;
}
.register .item-after{
    height: 80%;
    margin-left: 0.5rem;
}
.iconfont{
    font-size: 1.2rem;
}
.register .list-block .item-after{
    display: block;
    height: 1.5rem;
    border: none;
}
input::-webkit-input-placeholder{
    font-size: 0.8rem;
    color: #ccc;
}
.register input{
    width: 60%;
    font-size: 0.8rem;
    color: #000;
}
.register .list-block input[type="password"]{
    font-size: 0.8rem;
    width: 80%;
    margin: 0 0.5rem;
    padding: 0;
}
.register .list-block{
    padding: 0 1rem;
}
.register .list-block ul{
    border: none;
}
.register .button{
    background: #0C95FD;
    color: #ffffff;
    font-size: 0.8rem;
    width: 5rem;
}
.register .disabled{
    background: #666;
}
.register .reg_button{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    padding: 0.2rem 0;
    background: #666;
    border-color: #666666;
}
.list-block .item-content .item-inner:nth-last-of-type(1){
    border-bottom: 1px solid #e7e7e7;
}

/*遮幕*/
.curtain{
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    opacity: 0.8;
    z-index: 100;
    top: 0;
    left: 0;
}
.modalInstallTotal{
    width: 90%;
    height: 90%;
    background: white;
    position: fixed;
    z-index: 400;
    opacity: 1;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.4rem;
}
video{
    width: 100%;
    height: 40%;
}
.modalInstall{
    width: 100%;
    height: 40%;
    background: white;
    /*position: fixed;*/
    /*z-index: 200;*/
    /*opacity: 1;*/
    /*top: 35%;*/
    /*left: 10%;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.4rem;
}
.modalInstall a{
    display: inline-block;
    width: 50%;
    height: 100%;
    border-radius: 0.4rem;

}
.modalInstall a:nth-of-type(1) .install{
    border-right: 1px silver solid;
}
.install{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    align-items: center;
    color: #999;
    height: 90%;
    margin-top: 5%;

}

.install img{
    width: 45%;
}

/*抢红包*/
.redpackage{
    width: 100%;
    height: 100%;
    /*background-image: url('../img/redbg.png');*/
    background-color: #EB2B1B;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
.redpackCont{
    width: 96%;
    height: 100%;
    background-image: url('../img/red.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    /*border: 4px silver solid;*/
    margin: 0 auto;
}
.logo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 2rem auto 0;
    overflow: hidden;
    /*border: 2px silver solid;*/
}
.mo-logo{
    margin-top: 40%;
}
.logo img{
    width: 100%;
    height: 100%;
    margin-bottom: 0.4rem;
}
.redpackCont p{
    font-size: 1rem;
    color: #f3c861;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0.5em 0;
}
.redpackCont p .tixian{
    font-size: 0.7rem;
    color: #ffffff;
}
.getRed{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background-image: url('/Public/bao/kai.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*border: 5px solid seashell;*/
    font-weight: 700;
    color: #CB400A;
    margin: 0.5rem auto 0;
    /*animation: btnRotate 2s linear;*/
}
.btnClass{
    animation: btnRotate 2s infinite;
}
@keyframes btnRotate{
    from{
        transform:rotateY(0deg);
        -ms-transform:rotateY(0deg); 	/* IE 9 */
        -moz-transform:rotateY(0deg); 	/* Firefox */
        -webkit-transform:rotateY(0deg); /* Safari 和 Chrome */
        -o-transform:rotateY(0deg);
    }
    to{
        transform:rotateY(360deg);
        -ms-transform:rotateY(360deg); 	/* IE 9 */
        -moz-transform:rotateY(360deg); 	/* Firefox */
        -webkit-transform:rotateY(360deg); /* Safari 和 Chrome */
        -o-transform:rotateY(360deg);
    }
}

.redModal .curtain{
    opacity: 0.6;
}
.modalRed{
    width: 70%;
    height: 70%;
    position: fixed;
    z-index: 300;
    background-image: url('/Public/bao/kai1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 10%;
    left: 15%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    animation: redShow 0.5s linear;
}
.redContent{
    display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.redContent p{
    color: #FF3636;
    font-weight: 700;
}
.price{
    margin-top: -0.8rem;
    font-size: 1.2rem;
}
.price span{
    font-size: 0.6rem;
    padding-left: 0.2rem;
}
.redbtn{
    border: none;
    width: 6.2rem;
    height: 2.2rem;
    background: url(/Public/bao/redbtn.png) no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
    color: #986300;
    font-weight: bold;
    margin-top: 3rem;
}
@keyframes redShow{
    from{ opacity:0; transform:scale(0,0);}
    to{ opacity:1; transform:scale(1,1);}
}


/*红包轮播图*/
.redSwiper{
    display: flex;
    display: -webkit-flex;
    margin-top: 10%;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.swiper-wrapper{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    /*justify-content: center;*/
    padding: 0;
    margin: 0;
    /*background: #fff5d4;*/
}
.redSwiper .swiper-slide{
    /*height: 0.5rem;*/
    /*background: black;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    opacity: 0.6;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    border-radius: 1.5rem;
    padding: 0;
}
.redSwiper .swiper-slide .img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.redSwiper .swiper-slide .img img{
    width: 100%;
    height: 100%;
}
.redSwiper p{
    margin: 0;
    font-size: 0.6rem;
    font-weight: normal;
    color: #fff5d4;
}