{include file="block/layui" /}
<style type="text/css">
    .layui-quote-diy{color:#88754d;background:#fef8e2;}
    .layui-form-label{min-width:110px;}
</style>
{if condition="!$user->client"}
<blockquote class="layui-elem-quote layui-quote-nm layui-quote-diy">
    当前账号没绑定商户，请先联系管理员绑定商户
</blockquote>
{else/}
<blockquote class="layui-elem-quote layui-quote-nm layui-quote-diy">
    1、当前最低体现金额100元<br>
    2、当前结算手续费1%(最高为5元)，提现时手续费不足1元按1元收取
</blockquote>
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">商户id：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input layui-bg-gray" name="client_id" value="{$user->client->client_id}" readonly/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">当前账户收入：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input layui-bg-gray" value="{$total}" readonly/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">提现金额：</label>
        <div class="layui-input-inline">
            <input type="number" class="layui-input" name="total" value="{$cash_value}"/><br>
            最大提现金额:<span style="color:red">{$cash_value}</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手续费：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input layui-bg-gray" name="cash_fee" value="{$cash_fee}" readonly/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">下发方式：</label>
        <div class="layui-input-inline">
            {if condition="$user->banks->isEmpty()"}
            <blockquote class="layui-elem-quote layui-quote-nm layui-quote-diy">
                还没有代收银行信息，现在 <a href="{:url('bank_add')}" class="layui-btn layui-btn-danger">添加</a>
            </blockquote>
            {else/}
            <div class="layui-card">
                <div class="layui-card-header layui-bg-gray">选择代收银行</div>
                <div class="layui-card-body">
                    {volist name="$user->banks" id="v" key="k"}
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="radio" name="bank_id" value="{$v->id}" {$k==1?'checked':''} title="{$v->title}/{$v->name}">
                        </div>
                    </div>
                    {/volist}
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <a href="{:url('bank_add')}" class="layui-btn layui-btn-primary">+添加新的代收银行</a>
                        </div>
                    </div>
                </div>
            </div>
            {/if}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Google验证码：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="google_code" value=""/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"> </label>
        <div class="layui-input-block">
            <button type="button" id="submitForm" class="layui-btn tab-btn-active" >立即申请</button>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery'], function() {
        var $ = layui.$;
        $("#submitForm").on('click',function () {
            let total=$("input[name='total']").val();
            let bank_id=$("input[name='bank_id']:checked").val();
            let google_code=$("input[name='google_code']").val();
            if (!total) {
                layer.msg('提现金额不能为空!', {
                    time: 3000, //20s后自动关闭
                    btn: ['知道了'],
                    btnAlign: 'c',
                    anim: 6
                });
                return;
            }
            if (!bank_id) {
                layer.msg('银行不能为空!', {
                    time: 3000, //20s后自动关闭
                    btn: ['知道了'],
                    btnAlign: 'c',
                    anim: 6
                });
                return;
            }
            if (!google_code) {
                layer.msg('Google验证码不能为空!', {
                    time: 3000, //20s后自动关闭
                    btn: ['知道了'],
                    btnAlign: 'c',
                    anim: 6
                });
                return;
            }
            $.post('{:url('pinduoduo/cash_add')}',{
                total:total,
                bank_id:bank_id,
                google_code:google_code,
            },function (res) {
                console.log(res);
                if (res.status){
                    layer.msg('添加成功', {
                        time: 2000,
                        closeBtn: 0
                    });
                    self.location='{:url('pinduoduo/my_settlement')}';
                }else{
                    layer.msg(res.msg, {
                        time: 2000,
                        btn: ['知道了'],
                        btnAlign: 'c',
                        anim: 6
                    });
                }
            })
        });
        $('input[name=total]').on('blur', function(){
            this.value = parseInt(this.value);
            $.get('{:url('pinduoduo/cash_add')}', {
                total: this.value
            }, function(res){
                $('input[name=cash_fee]').val(res.data.cash_fee);
                $('input[name=cash_value]').val(res.data.cash_value);
            });
        });
    });
</script>
<style>
    .layui-form{
        padding-top: 15px;
    }
    .layui-form-item .layui-input-inline{
        width:400px;
    }
</style>
{/if}