@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'), local('Bangers-Regular'), url(../fonts/fevqs0btqb0h60ach55q3q.ttf) format('truetype');
}
