<div class="page-title">

    <div class="title-env">
        <h1 class="title">开通记录</h1>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="{:url('/')}"><i class="fa-home"></i>Home</a>
            </li>

            <li class="active">

                <strong>User</strong>
            </li>
        </ol>

    </div>

</div>
<!-- Responsive Table -->
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="panel-options">


                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="#" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div style="text-align: center">
                    <form method="get" action="{:url('user/zlog')}">
                       操作日期 <input type="date" name="start" >&nbsp;-&nbsp;<input type="date" name="end" >
                        <input placeholder="&nbsp;代理账户关键词" type="text" name="user" style="height: 38px">
                        <input placeholder="&nbsp;用户账户关键词" type="text" name="vip" style="height: 38px">
                        </div>

                        <div  style="text-align: center">
                        <input placeholder="&nbsp;充值天数,月数X30" type="text" name="day" style="height: 38px">
                        <input placeholder="&nbsp;花费金额" type="text" name="money" style="height: 38px">
                        到期日期
                        <input type="date" name="dstart" >&nbsp;-&nbsp;<input type="date" name="dend" >&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-turquoise" style="height: 38px;margin-top: 7px;">搜索</button>
                    </form>

                </div>

                <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk"
                     data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                        <thead>
                        <tr>

                            <th>充值代理</th>
                            <th>操作时间</th>
                            <th>充值人</th>
                            <th>花费金额</th>
                            <th>总充值天数</th>
                            <th>到期日期</th>

                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="vo"}
                        <tr>

                            <td>{:gui($vo.uid)}</td>

                            <td>{$vo.ctime|date="Y-m-d H:i:s",###}</td>
                            <td>{:gui($vo.cid)}</td>
                            <td>{$vo.money}</td>
                            <td><?php if($vo['day']=='all'){echo '永久';}else{
                            echo date('Y-m-d h:i:s',$vo['day']);
                            }?></td>
                            <td><?php if($vo['lasttime']=='all'){echo '永久';}else{
                            echo date('Y-m-d h:i:s',$vo['lasttime']);
                            }?></td>

                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$list->render()}
                </div>

            </div>


        </div>

    </div>


</div>