<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<link rel="stylesheet" type="text/css" href="{$site.site_url}/game/xxx/css/common.css" />
	<link rel="stylesheet" type="text/css" href="{$site.site_url}/game/xxx/css/mui.min.css" />

      <script src="{$site.site_url}/game/xxx/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	  <script src="{$site.site_url}/game/xxx/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
	  <script src="{$site.site_url}/game/xxx/js/rem.js" type="text/javascript" charset="utf-8"></script>

   
  

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-bottom: 46px">
      

            {__CONTENT__}
            <!-- /.box-body -->
    </div>
    <!-- /.box -->

<script type="text/javascript">
   
</script>

</body>
</html>
